<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Jack</key>
	<dict>
		<key>height</key>
		<string>178</string>
		<key>age</key>
		<string>20</string>
	</dict>
	<key>Tom</key>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>height</key>
		<string>190</string>
	</dict>
	<key>Mary</key>
	<dict>
		<key>height</key>
		<string>160</string>
		<key>age</key>
		<string>18</string>
	</dict>
	<key>Paul</key>
	<dict>
		<key>height</key>
		<string>180</string>
		<key>age</key>
		<string>19</string>
	</dict>
	<key>Harry</key>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>height</key>
		<string>189</string>
	</dict>
</dict>
</plist>
